name: PR Workflow
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install nodeJS
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm run lint

  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install nodeJS
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm run type-check

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install nodeJS
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test
