name: PR Workflow
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install nodeJS
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Run linting
        run: npm run lint

  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install nodeJS
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Run type checking
        run: npm run type-check

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install nodeJS
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test

  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install nodeJS
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Install JDK
        uses: actions/setup-java@v5

      - name: Cache gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}

      - name: Build Android Debug
        run: |
          cd android
          ./gradlew assembleDebug
